@font-face {
    font-family: MontserratBlack;
    src: url(../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/static/Inter-Light.ttf);
}

/* TEST */



/* FIN TEST */

p{
    margin: 0;
}

.conteneur{
 display: flex;
 flex-direction: row;
 height: 100vh;
 width: 100vw;
 margin: 0 auto;
}

.gauche-noir{
    display: flex;
    flex-direction: column;
    margin: -8px 0px -8px -8px; 
    background-color: black;
    height: 100vh;
    width: 35vw;
}
#titre{
    display: flex;
    margin-top: 12%;
    margin-bottom: 12%;
    justify-content: center;
    text-align: center;
    font-family: MontserratBlack;
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.275rem;
}

@media screen and (max-width: 960px) {
    #titre{
        font-size: 3.5rem;
    }
    
}

@media screen and (min-width: 1480px) {
    #titre{
        font-size: 5rem;
    }
}

#image-tenue-femme {
    display: flex;
    justify-content: center;
    width: 85%;
    height:100%;
    border-radius: 0.6875rem;
    margin: 0 auto;
}

@media screen and (min-width: 1100px) {
    #image-tenue-femme{
        width: 20rem;
        height: 24rem;
    }

    .article{
        width: 12rem;
        height: 12rem;
    }
}

.texte-moyen{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-family: Cabin;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.texte-normal{
    font-family: Inter;
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
}

.conteneur-texte-moyen-normal{
    margin-top: 13%;
}
.texte-blanc-avant{
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width: 1180px) {
    .texte-moyen{
        font-size: 1.5rem;
    }
    .texte-normal{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 995px) {
    .texte-moyen{
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 1040px) {
    #titre{
        margin-bottom: 20%;
    }
    .texte-moyen{
        margin-top: 20%;
    }
}

.mention-legale{
    font-family: Inter;
    color: #343434;
    bottom: 0;
    font-size: 0.8rem;
    position: absolute;
    white-space: nowrap;
}

.droite-blanc{
    display: flex;
    flex-direction: column;
}

.barre-de-navigation{
    display: flex;
    flex-direction: row;
}

.menu-de-navigation{
    color: black;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.menu-choisi{
    background-color: black;
    color: white;
    border-radius: 14.5px;
}
.texte-blanc{
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

.texte-normal{
    font-family: Inter;
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
}

.conteneur-image-tenue-homme{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#image-tenue-homme{
    width: 70%;
    border-radius: 11px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-bottom: 3%;
}

#image-tenue-femme-corps{
    height: 100%;
    width: 100%;
    
}

.conteneur-image-tenue-homme-corps{
  margin-right: 5%;  
}

.conteneur-boutique-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#listeArticles {
    margin: 0 2ch;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    width: 13.5em;
    height: 13.5em;
    border-radius: 11px; 
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25); 
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding: 10px;
    gap: 5px;
}

.previewImageArticle {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.previewImageArticle img {
    height: auto;
    width: auto;
    overflow: auto;
}

.nom-article {
    font-weight: 500;
}

.type-article {
    font-weight: 700;
}

.couleur-article {
    background-color: black;
    width: 8%;
    height: 8%;
    border-radius: 100%;
    position: absolute;
    right: 10px;
}

@media screen and (max-width: 1100px) {
  .article{
        width: 12em;
        height: 12em;
    }
}

@media screen and (max-width: 1053px) {
  .conteneur-image-tenue-homme-corps{
        width: 10rem;
        display: flex;
        align-items: center;
    }
    #image-tenue-homme-corps{
        width: 10rem;
        height: 23rem;
    }

}

@media screen and (max-width: 993px) {
   .conteneur-image-tenue-homme{
        margin-top: 5%;
    }
    .article{
        margin-top: 5%;
        width: 10.5em;
        height: 10.5em;
    }
}

@media screen and (max-width: 850px) {
    body{
        overflow: none;
        position: none;
    }

    #titre{
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100%;
    }

    .conteneur{
        display: flex;
        flex-direction: column;
    }
    .gauche-noir{
        width: 100vw;
        height: 10vh;
        margin: -8px 0px 0px -8px; 
    }

    #conteneur-image-tenue-femme,.conteneur-texte-moyen-normal{
        display: none;
    }

    .barre-de-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    }

    #image-tenue-homme{
        width: 60%;
    }

     .article{
        width: 10.5em;
        height: 10.5em;
    }

    #image-tenue-homme {
        width: 65%;
    }
    
  }


@media screen and (max-width: 902px) {
   .conteneur-image-tenue-homme{
        margin-top: 6%;
    }
    .article{
        margin-top: 6%;
        width: 9.5em;
        height: 9.5em;
    }

    #image-tenue-homme-corps{
        width: 8rem;
        height: 18.5rem;
    }
}


@media screen and (max-width: 847px) {
   .article{
        width: 12em;
        height: 12em;
    }

    #image-tenue-homme-corps{
        width: 11rem;
        height: 22rem;
    }
}

@media screen and (max-width: 671px) {
    .conteneur-image-tenue-homme-corps{
        display: none;
    }

    .conteneur-image-tenue-homme{
        margin-top: 3%;
    }
       .article{
        margin-top: 1%;
        width: 12em;
        height: 12em;
    }
}

@media screen and (max-width: 482px) {
        .barre-de-navigation{
        margin-top: 5%;
    }
    .conteneur-image-tenue-homme{
        margin-top: 7%;
    }

    .article{
         margin-top: 7%;
        width: 10.5em;
        height: 10.5em;
    }
}

@media screen and (max-width: 428px) {
    .barre-de-navigation{
        margin-top: 5%;
    }
    .conteneur-image-tenue-homme{
        margin-top: 7%;
    }

    .article{
         margin-top: 7%;
        width: 9.5em;
        height: 9.5em;
    }
}

@media screen and (max-width: 397px) {
    .barre-de-navigation{
        margin-top: 5%;
    }
    .conteneur-image-tenue-homme{
        margin-top: 7%;
    }
    .article{
        margin-top: 7%;
        width: 8em;
        height: 8em;
    }
}
