* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

p {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

#titreEtFiltre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0;
    gap: 2ch;
}

#titre {
    align-self: center;
    text-align: left;
    margin: 0 2ch;
    font-weight: 900;
    font-size: 250%;
    white-space: nowrap;
}

#listeFiltre {
    justify-content: right;
    margin-right: 1ch;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2ch;
    align-items: center;
}

.filtre {
    height: min-content;
    display: flex;
    border: 1px black solid;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
}

#listeArticles {
    margin: 0 2ch;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    width: 280px;
    height: 280px;
    border-radius: 11px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding: 10px;
    gap: 5px;
}

.articleNom {
    font-weight: 500;
}

.articleType {
    font-weight: 700;
}

.articleCouleur {
    background-color: black;
    width: 8%;
    height: 8%;
    border-radius: 100%;
    position: absolute;
    right: 10px;
}

@media (max-width: 750px) {
    #naviguerCategories {
        display: none;
    }

    #imageDefilerMenu {
        display: block;
    }

}