@font-face {
    font-family: MontserratBlack;
    src: url(../fonts/Montserrat/static/Montserrat-Black.ttf);
  }

  @font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../fonts/Inter/static/Inter-Light.ttf);
  }

  @font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
  }

  @font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
  }

body{
    overflow: hidden;
    position: fixed;
}

p{
    margin: 0;
}

a {
    color: inherit; 
    text-decoration: none;
}

.container{
 display: flex;
 flex-direction: row;
 height: 100vh;
 width: 100vw;
 margin: 0 auto;
}

.left-black{
    display: flex;
    flex-direction: column;
    margin: -8px 0px -8px -8px; 
    background-color: black;
    height: 100vh;
    width: 35vw;
}
#title{
    display: flex;
    margin-top: 12%;
    margin-bottom: 12%;
    justify-content: center;
    text-align: center;
    font-family: MontserratBlack;
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.275rem;
}

@media screen and (max-width: 960px) {
    #title{
        font-size: 3.5rem;
    }
    
}

@media screen and (min-width: 1480px) {
    #title{
        font-size: 5rem;
    }
}



#image-woman-outfit {
    display: flex;
    justify-content: center;
    width: 85%;
    height:100%;
    border-radius: 0.6875rem;
    margin: 0 auto;
}

@media screen and (min-width: 1100px) {
    #image-woman-outfit{
        width: 20rem;
        height: 24rem;
    }

    .article{
        width: 12rem;
        height: 12 rem;
    }
}

.medium-text{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-family: Cabin;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.normal-text{
    font-family: Inter;
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
}

.container-mid-normal-text{
    margin-top: 13%;
}
.front-white{
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width: 1180px) {
    .medium-text{
        font-size: 1.5rem;
    }
    .normal-text{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 995px) {
    .medium-text{
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 1040px) {
    #title{
        margin-bottom: 20%;
    }
    .medium-text{
        margin-top: 20%;
    }
}

.law{
    font-family: Inter;
    color: #343434;
    bottom: 0;
    font-size: 0.8rem;
    position: absolute;
    white-space: nowrap;
}

.right-white{
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    flex-direction: row;
}

.nav-menu{
    color: black;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.nav-bar-menu-chose{
    background-color: black;
    color: white;
    border-radius: 14.5px;
}

.container-img-men-outfit{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#image-men-outfit{
    width: 70%;
    border-radius: 11px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-bottom: 3%;

}

#image-woman-outfit-body{
    height: 100%;
    width: 100%;
    
}

.container-img-men-outfit-body{
  margin-right: 5%;  
}

.container-shop-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#listeArticles {
    margin: 0 2ch;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    width: 13.5em;
    height: 13.5em;
    border-radius: 11px; 
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25); 
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding: 10px;
    gap: 5px;
}

.previewImageArticle {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.previewImageArticle img {
    height: auto;
    width: auto;
    overflow: auto;
}

.articleNom {
    font-weight: 500;
    font-family: Montserrat;
}
.articlePrix {
    font-weight: 500;
    font-family: Montserrat;
}

.articleType {
    font-weight: 700;
    font-family: MontserratBold;
}

.articleCouleur {
    background-color: black;
    width: 8%;
    height: 8%;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    border: #0006 1.5px solid;
}

@media screen and (max-width: 1100px) {
  .article{
        width: 12em;
        height: 12em;
    }
}

@media screen and (max-width: 1053px) {
  .container-img-men-outfit-body{
        width: 10rem;
        display: flex;
        align-items: center;
    }
    #image-men-outfit-body{
        width: 10rem;
        height: 23rem;
    }

}

@media screen and (max-width: 993px) {
   .container-img-men-outfit{
        margin-top: 5%;
    }
    .article{
        margin-top: 5%;
        width: 10.5em;
        height: 10.5em;
    }
}

@media screen and (max-width: 850px) {
    body{
        overflow: none;
        position: none;
    }

    #title{
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .left-black{
        width: 100vw;
        height: 10vh;
        margin: -8px 0px 0px -8px; 
    }

    #container-image-woman-outfit,.container-mid-normal-text{
        display: none;
    }

    .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    }

    #image-men-outfit{
        width: 60%;
    }

     .article{
        width: 10.5em;
        height: 10.5em;
    }

    #image-men-outfit {
        width: 65%;
    }
    
  }


@media screen and (max-width: 902px) {
   .container-img-men-outfit{
        margin-top: 6%;
    }
    .article{
        margin-top: 6%;
        width: 9.5em;
        height: 9.5em;
    }

    #image-men-outfit-body{
        width: 8rem;
        height: 18.5rem;
    }
}


@media screen and (max-width: 847px) {
   .article{
        width: 12em;
        height: 12em;
    }

    #image-men-outfit-body{
        width: 11rem;
        height: 22rem;
    }
}

@media screen and (max-width: 671px) {
    .container-img-men-outfit-body{
        display: none;
    }

    .container-img-men-outfit{
        margin-top: 3%;
    }
       .article{
        margin-top: 1%;
        width: 12em;
        height: 12em;
    }
}

@media screen and (max-width: 482px) {
        .nav-bar{
        margin-top: 5%;
    }
    .container-img-men-outfit{
        margin-top: 7%;
    }

    .article{
         margin-top: 7%;
        width: 10.5em;
        height: 10.5em;
    }
}

@media screen and (max-width: 428px) {
    .nav-bar{
        margin-top: 5%;
    }
    .container-img-men-outfit{
        margin-top: 7%;
    }

    .article{
         margin-top: 7%;
        width: 9.5em;
        height: 9.5em;
    }
}

@media screen and (max-width: 397px) {
    .nav-bar{
        margin-top: 5%;
    }
    .container-img-men-outfit{
        margin-top: 7%;
    }
    .article{
        margin-top: 7%;
        width: 8em;
        height: 8em;
    }
}









