* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.body {
    display: flex;
    height: 91.5vh;
    align-items: center;
    justify-content: center;
}

.article {
    display: flex;
    align-items: center;
    height: 65%;
    width: 75%;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: calc(100vh * .65 * .90);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-left: calc(100vh * .35 * .10);
    overflow: hidden;

    position: relative;
}

#images img {
    overflow: auto;
}

#precedent,
#suivant {
    position: absolute;
    font-size: 25px;
}

#precedent {
    left: 25px;
}

#suivant {
    right: 25px;
}

.filtre {
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
}

.filtreTitre {
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optionsFiltre {
    display: none;
}

.optionFiltre {
    display: flex;
    justify-content: space-between;
}

#image2 {
    display: none;
}

.informations {
    height: 90%;
    width: 52%;
    margin-left: calc(100vh * .35 * .10);
}

.titre {
    font-size: xx-large;
    font-weight: bold;
}

.gamme {
    font-size: x-large;
}

.marque {
    font-size: x-large;
    font-weight: bold;
}

.prix {
    font-size: xx-large;
    font-weight: bold;
}

.personnalisation {
    display: flex;
}

.personnalisation button {
    margin-right: 25px;
}

button {
    display: flex;
    cursor: pointer;
}